[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
flask-graphql = "*"
graphene = "*"
graphene-sqlalchemy = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"
webtest = "*"
snapshottest = "*"

[requires]
python_version = "3.6"
